/HistoricoCausaInfertilidade_.java
/HistoricoDadosGravidez_.java
/HistoricoDadosLaboratoriais_.java
/HistoricoDadosUltrassom_.java
/HistoricoICSIEjaculado_.java
/HistoricoMedicacaoEsquemaDetalhado_.java
/HistoricoMedicacaoUtilizada_.java
/HistoricoOvarioFoliculos_.java
/HistoricoTempoInfertilidade_.java
/LaudoHistoricoReprodutivo_.java
/Laudo_.java
